.Input {
    &-value {
        width: 400px;
        height: 54px;
        font-size: 10px;
        border-radius: 8px;
        border: 1px solid #bcc1c5;
        color: $default-color-green;
        font-weight: 400;
        font-family: $font-family-primary;
    }

    &-submit-todo {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 68px;
        justify-content: center;
        width: 100%;
    }

    &-box {
        display: flex;
        flex-direction: column;
        margin-top: 18px;
    }

    &-label {
        color: $text-black;
        font-family: $font-family-primary;
        font-size: 10px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 4px;
    }
}
